.equipo {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 32px;
    font-size: 32px;
    position: relative;
}

.input-color {
    position: absolute;
    top: 20px;
    right: 50px;
}

.equipo h3 {
    color: #212121;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 4px solid;
    display: inline-block;
}

.colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}